body{
	background-image: url("../img/fondo1.jpg");
	background-size: 100vw 100vh;
	background-attachment: fixed;
	margin: 0;
}
.texto{
	width: 50%;
     margin: auto;
     margin-top: 1%;
     margin-left: 10%;
     border: 1px solid rgb(0,105,156);
     padding: 10px 20px;
     box-sizing: border-box;
     word-wrap: break-word;
     background: #ffffff;
}

form{
	width: 50%;
     margin: auto;
     padding: 10px 20px;
     box-sizing: border-box;
     margin-top: 3%;
     margin-left: 10%;
     border-radius: 7px;
     background: rgb(0,105,156);
}

textarea{
     width: 100%;
     margin-bottom: 20px;
     padding: 7px;
     box-sizing: border-box;
     border-radius: 7px;
     font-size: 17px;
     min-height: 20px;
     max-height: 160px; 
     max-width: 100%;
     overflow: hidden;
}

button{
     background: #FCFFCC;
     padding : 10px 20px;
     border-radius: 10px;

}
button:hover{
	cursor: pointer;
}
p{
     background: #FCFFCC;
	width: 7%;
	text-align: center;
	position: relative;
	left: 50%;
	top: -60px;
	padding : 6px 10px;
     border-radius: 10px;

}
.hora{
	width: 50%;
     margin: auto;
     margin-left: 10%;
     box-sizing: border-box;
     word-wrap: break-word;
     background: rgb(0,105,156);
     font-size: 1em;
     color: #FCFFCC;
}










